body {
  font-size: 1.6em;
  margin: 10px 20px;
}

.title {
  font-size: 110%;
  text-align: center;
}

#figures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

figure img{
  padding: 0px 0px 10px;
  width: 100%;
}

.para {
  width: 100%;
}