nav ul{
  background-color: rgb(134, 134, 134);
  margin-left: -20px;
  margin-right: -21px;
  text-align: center;
}

nav li {
  display: inline;
}

header {
  background-color: rgb(107, 110, 109);
  margin: -21px;
  text-align: center;
  border-color: aqua;
  margin-bottom: -22px;
}
article {
  margin-left: 10px;
}


body {
  background-color: rgb(255, 255, 255);
}

p {
  text-indent: 10px;
}

img {
  width: 200px;
  display: inline-block;
  float: right;
}

