header {
  text-align: center;
  background-color: gray;
  border: solid;
  border-color: gray;
  margin: -10px;
}

.menuItem{
  background-color: rgb(167, 167, 167);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}
menu {
  text-align: center;
}

h2 {
  text-align: center;
}

body{
background-color: rgb(219, 219, 219);
}

article{
  color: black;
}
